body {
  font-family: "Chivo", sans-serif;
}

p {
  margin: 0;
}

.email:hover {
  text-decoration: line-through;
}

.vertical-line-div {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  border-right: 1px solid black;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
}

.horizontal-line-div {
  border-top: 1px solid black;
  width: 100%;
  margin-top: 75px;
}

.app-header {
  margin-left: 18%;
  margin-top: 50px;
  font-style: italic;
  font-weight: bolder;
  letter-spacing: -5px;
  color: 	#E7DF32;
  font-size: 4.5em;
  height: 0.90;
}

.about-line-div {
  margin-left: 15%;
  border-top: 1px solid black;
  width: 85%;
  margin-top: 25px;
}
.space-div {
  height: 1px;
}

.first-horizontal-line-div {
  border-top: 1px solid black;
  width: 100%;
  height: 1px;
}

header {
  margin-left: 15%;
  margin-top: 150px;
  font-size: 10em;
  line-height: -10em;
  color: 	blue;
  height: 0.95em;
  font-family: 'Chela One', cursive;
}

.menu-links {
  margin-top: 100px;
  margin-left: 15.5%;
  margin-bottom: 350px;
}

.page-link {
  margin: 0px;
  letter-spacing: -2px;
  font-size: 1.7em;
  color: black;
}

.page-link:visited {
  color: black;
}

.page-link:hover {
  background-color: #E7DF32;
}

.directory {
  margin-left: 19%;
  margin-top: 40px;
  font-size: 1.7em;
  letter-spacing: -2px;
}

.device-shot {
  margin-bottom: 75px;
  object-fit: contain;
  width: 100%;
  margin-right: 40px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.device-shot:hover {
  cursor: crosshair;
  -webkit-filter: none; /* Safari 6.0 - 9.0 */
  filter: none;
}

.device-shot:last-child {
  margin-bottom: 0px;
}

.info-div {
  margin-left: 17%;
  display: flex;
  margin-bottom: 30px;
}

.about-text-div {
  display: none;
}

.text-div {
  text-align: right;
  margin-left: 5px;
  margin-right: 20px;
  padding-top: 20px;
}

.app-text {
  font-size: 1.2em;
}
.built-text{
  margin-top: 40px;
  margin-left: 70px;
  font-size: 1.0em;
}

.app-links {
  display: inline-block;
  margin-top: 10px;
  color: blue;
  font-size: 1.0em;
}

.app-links:hover {
  text-decoration: line-through;
}

.app-link-a-href {
  color: blue;
}


.hand {
  display: block;
  max-width: 80%;
  height: auto;
  margin-top: 25px;
  margin-left: 18%;
}

.contact {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: none;
  margin-bottom: 15px;
  margin-left: 30%;
  padding: 15px 0px 15px 50px;
  color: blue;
  font-size: 1.2em;
}

.contact:first-child {
  margin-top: 100px;
}

.contact:last-child {
  margin-bottom: 200px;
}

.contact-link:visited {
  color: blue;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: line-through;
}

a {
  text-decoration: none;
}

.blue-name {
  color: blue;
}

.footer {
  display: flex;
  margin-bottom: 0.5px;
  letter-spacing: -1px;
  font-size: 1.1em;
  margin-left: 86%;
}

@media only screen and (max-width:  1240px) {
  .footer {
    margin-left: 80%;
  }
}

@media only screen and (max-width:  1124px) {
  .hand {
    margin-top: 50px;
    margin-left: 20%;
  }

  header {
    font-size: 5em;
    margin-top: 125px;
  }

  .info-div {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
  }

  .text-div {
    text-align: left;
    margin-left: 40px;
    margin-right: 100px;
    padding-top: 10px;
  }

  .device-shot {
    object-fit: contain;
    width: 100%;
    margin-bottom: 20px;
  }

  .built-text{
    margin-left: 0px;
  }

  .app-header {
      margin-left: 18%;
      margin-top: 50px;
      font-style: italic;
      font-weight: bolder;
      letter-spacing: -3px;
      font-size: 4.0em;
      height: 0.90;
    }

  .footer {
    margin-left: 75%;
  }
}


@media only screen and (max-width: 800px) {
  .hand {
    display: none;
  }
  .about-text-div {
    margin-top: 60px;
    margin-left: 30%;
    display: flex;
    text-align: right;
    margin-right: 20px;
    margin-bottom: 50px;
  }

  .footer {
    margin-left: 70%;
  }
}

@media only screen and (max-width: 740px) {
  .footer {
    margin-left: 70%;
  }
}

@media only screen and (max-width: 640px) {
  .about-line-div {
    margin-left: 0;
    width: 100%;
  }

  .footer {
    margin-left: 66%;
    font-size: .8em;
  }

  .about-text-div {
    font-size: .8em;

  }

  .app-header {
    margin-left: 18%;
    margin-top: 20px;
    font-style: italic;
    font-weight: bolder;
    letter-spacing: -4px;
    font-size: 3.0em;
    height: 0.90em;
    line-height: -12px;
  }

  .text-div {
    margin-left: 10px;
    margin-right: 10px;
  }

  .app-text{
    font-size: .8em;
  }

  .app-links, .built-text {
    font-size: .7em;
  }

  header {
    font-size: 3.5em;
    /* letter-spacing: -5px; */
    margin-top: 75px;
  }

  .page-link {
    margin: 0px;
    letter-spacing: -2px;
    font-size: 1.2em;
  }

  .menu-links {
    margin-top: 70px;
  }

  .hand {
    display: none;
  }

  .directory {
    font-size: 1.1em;
    margin-left: 18%;
    margin-top: 30px;
  }

  .contact {
    margin-bottom: 15px;
    padding: 10px 0px 10px 40px;
    font-size: 1em;
  }

  .horizontal-line-div {
    margin-top: 60px;
  }
}

@media only screen and (max-device-width: 440px) {
  .family-mash-header{
    font-size: 2.3em;
  }

  .crowd-control-header {
    font-size: 2.0em;
  }
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .menu-links {
      margin-top: 70px;
      margin-bottom: 200px;
    }
    .footer {
      margin-left: 55%;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .footer {
      margin-left: 65%;
    }
    .menu-links {
      margin-top: 70px;
      margin-bottom: 350px;
    }
    .contact:last-child {
      margin-bottom: 350px;
    }
    .about-text-div {
      margin-top: 75px;
      margin-bottom: 200px;
    }
}

/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .menu-links {
      margin-top: 70px;
      margin-bottom: 460px;
    }
    .contact:last-child {
      margin-bottom: 350px;
    }
    .about-text-div {
      margin-top: 110px;
    }
    .footer {
      margin-left: 65%;
    }
}
